.gallery {
  position: fixed;
  z-index: 300;
  top: auto;
  bottom: 0;
  left: 50%;
  visibility: hidden;
  width: 300px;
  height: 0;
  margin-left: -150px;
  border-radius: 5px;
  background-color: @white;

  max-height: 80vh;
  max-width: 80vh;
}

.gallery--active {
  top: 10vh;
  bottom: auto;
  visibility: visible;
  height: auto;
}

.gallery__slider {
  width: 100%;
  height: auto;
  .slick-next,
  .slick-prev {
    position: absolute;
    top: 280px;
    display: none;
    width: 50px;
    height: 150px;
    content: " ";
    cursor: pointer;
  }
  .slick-next {
    right: -60px;
  }
  .slick-prev {
    left: -60px;
  }
  .slick-next::before,
  .slick-prev::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 150px;
    content: "";
    background-image: url("../img/arrow_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 48px;
  }
  .slick-prev::before {
    right: auto;
    left: 0;
    transform: rotate(180deg);
  }
  .slick-next:hover::before,
  .slick-prev:hover::before {
    background-image: url("../img/arrow_rose.svg");
  }
}

.gallery__slide {
  width: 300px;
  height: 140px;
  margin: 0 auto;
  border-radius: 5px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}

.gallery__button--close {
  position: absolute;
  top: -25px;
  right: -15px;
  width: 15px;
  height: 15px;
  padding: 0;
  content: "";
  border: none;
  background-color: transparent;
  background-image: url("../img/ic-clouse.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.gallery__text {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.gallery__preview {
  bottom: -20px;
  width: 100%;
  margin: 0 auto;
  .gallery__slide {
    width: 80px;
    height: 80px;
    margin-right: 8px;
    margin-left: 8px;
    img {
      width: 80px;
      height: 80px;
      cursor: pointer;
    }
  }
}

@media @tablet {
  .gallery {
    width: 700px;
    margin-left: -350px;
  }

  .gallery__slide {
    width: 700px;
    height: 320px;
  }

  .gallery__text {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }

  .gallery__preview {
    bottom: -30px;
  }
}

@media @desktop {
  .gallery {
    width: 1140px;
    margin-left: -570px;
  }

  .gallery__slide {
    width: 1140px;
    height: 520px;
    // max-height: ;
    // height: calc( 100vh - 256px);
    // max-height: 512px;
    img {
      width: auto;
      margin: auto;
    }
  }

  .gallery__text {
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
  }

  .gallery__preview {
    bottom: -40px;
  }
}
